*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-menu: #452464;
    --bg-menu-mobile: #38383b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #f2ecec;
}

.d-item{
    height: 500px;
}
.d-img{
    height: 100%;
    object-fit: cover;
    background-position: bottom;
    filter: brightness(0.6);
}

main {
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 30px;
}

.card{
    border: 2px solid rgba(0, 0, 255, 0.138);
    height: 650px;
}


/* .card2{
    border: 2px solid rgba(0, 0, 255, 0.138);
    height: 350px;
} */

.card-img-top{
  height: 400px;
}

.contenedor-img{
    /* height: 400px !important; */
    overflow: hidden;
}

.contenedor-img2{
    height: 500px;
    width: auto;
    overflow: hidden;
}

.contenedor-img2 img{
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.contenedor-img img{
    width: 100%;
    /* height: 400px; */
    transition: all .5s;
}

.contenedor-img img:hover{
    transform: scale(1.1);
    transition: all .5s;
}

h3{
    text-decoration: underline;
}

h5{
    font-size: .9rem;
    font-weight: 700;
}

.btn{
    width: 100%;
}

.precio{
    font-weight: 700;
    font-size: 1.2rem;
}

.descripcion{
    font-weight: 400;
    font-size: .9rem;
}

.tarjetas-comprar{
    display:  flex;
    justify-content: center;
}

.active{
    font-size: 55px;
}

/* ======== */

.background{
    background-color: rgb(44, 42, 42);
}

.contenedorFiltrosNav{
    background-color: var(--bg-menu-mobile);
    padding: 1rem;
}

.filtrosNav{
    gap: 1rem;
}


/* =================== Form */
.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.input-container {
    position: relative;
    margin-top: 25px;
    /* margin: 50px auto; */
    /* width: 200px; */
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  /* MAIL */
  .input-container input[type="email"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  /* MAIL */
  .input-container input[type="email"]:focus ~ .label,
  .input-container input[type="email"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: #333;
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  /* MAIL */
  .input-container input[type="email"]:focus ~ .underline,
  .input-container input[type="email"]:valid ~ .underline {
    transform: scaleX(1);
  }


  /* ======================== Button */

.box {
    width: 100%;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 20px 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

  /* ============ Envios*/

  .envios{
    height: 70vh !important;
  }